.about {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 110px
}

.content {
  width: 90%;
  max-width: 1160px;
}


.pageTitle {
  color: red;
  text-align: center;
}

.articlesList {
  list-style: none;
  
}

.element {
  margin-bottom: 50px;
}


.element:last-child {
  margin-bottom: 0;
}
