.functions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 60px;
}

.wordLists {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lists {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .functions {
    grid-template-columns: 1fr;
  }
  .lists {
    justify-content: center;
  }
}