.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 90%;
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.lists {
  
}