.colors {
  --text-color: #23262F;
  --text-color-light: #FCFCFD;
  --text-color-dark: #23262F;
  
  --color-basic-1: #FCFCFD;
  --color-basic-2: #F1F1F1;
  --color-basic-3: #DFDFE6;
  --color-blue: #3772FF;
  --color-red: #E53535;
  --color-green: #05A660;
  --color-orange: #FF8800;
}

[data-theme-mode='dark'] {
  --text-color: #fff;
  --color-basic-1: #23262F;
  --color-basic-2: #87898E;
  --color-basic-3: #484C56;
  --color-blue: #3772FF;
  --color--red: #E8726C;
  --color-green: #4C906E;
  --color-orange: #F6B05D;
}