.controlPanel {
  display: grid;
  grid-template-columns: 1fr 56px 1fr;
  gap: 24px;
  max-width: 510px;
  width: 100%;
}

.button {
  background-color: #3772FF;
  
  padding: 10px;
  transition: opacity 0.2s linear;
  border: none;
  color: #FCFCFD;
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.buttonDisabled {
  background-color: var(--color-basic-2);
  color: var(--text-color)
}

.buttonDisabled:hover {
  opacity: 1;
  cursor: auto;
}

.buttonLeft {
  border-radius: 50px;
}

.buttonRight {
  border-radius: 50px;
}

@media screen and (max-width: 620px) {
  .controlPanel {
    gap: 15px;
  }

  .buttonLeft {
    border-radius: 50px 0 0 50px;
  }

  .buttonRight {
    border-radius: 0 50px 50px 0;
  }
}