.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: max-content;
  grid-auto-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 90%;
}

.verticalList {
  grid-auto-flow: row;
  gap: 20px;
}