.card {
  display: grid;
  grid-template-columns: 60px 1fr 24px;
  grid-template-rows: 1fr 10px;
  grid-template-areas: 
  'image translation delete'
  'image progressBar delete';
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  background-color: var(--color-basic-2);
  width: 450px;
  justify-items: center;
  align-items: center;
  column-gap: 25px;
  box-sizing: border-box;
  height: 80px;
  margin: 0;
}

.image {
  grid-area: image;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.translateContainer {
  grid-area: translation;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 24px 1fr;
  align-items: center;
  justify-items: start;
  width: 100%;
  gap: 15px;
  margin-top: 15px;
}

.word {
  font-weight: 700;
  color: var(--text-color);
}


.icon {
  grid-area: delete;
}

.progressBar {
  grid-area: progressBar;
  width: 100%;
}

@media (max-width: 620px) {
  .card {
    grid-template-areas: 
    'image translation delete'
    'progressBar progressBar progressBar';
    width: 270px;
    height: 100px;
    justify-items: center;
    align-items: center;
    column-gap: 25px;
    box-sizing: border-box;
    margin: 0;
  };
}