.article {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr max-content;
  grid-template-areas: 
  'title title'
  'text image';
  width: 100%;
  column-gap: 25px;
  row-gap: 40px;
}

.title {
  grid-area: title;
  color: var(--text-color);
}

.text {
  grid-area: text;
  color: var(--text-color);

}

.image {
  grid-area: image;
  justify-self: center;
  aspect-ratio: 3 / 2;
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 1200px) {
  .article {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: 
    'title'
    'text'
    'image';
    column-gap: 0;
    row-gap: 30px;
  }
}

@media screen and (max-width: 620px) {
  .article {
    row-gap: 15px;
  }
}